<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="style.scss"> -->
        <title>Sports</title>
    </head>
    <body>
        <header class="bg-dark text-white text-center py-3">
            <div class="container">
                <a href="index" class="text-white text-decoration-none">
                    <h1>FindMyShow</h1>
                </a>
            </div>
        </header>

        <nav class="navbar navbar-default" style="padding: 1px;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="padding-left: 50%;list-style: none; display: flex; justify-content: space-around; width: 50%; font-size: x-large;">
                        <li>
                            <a routerLink="index" style="font-size: x-large; text-decoration: none;">Home</a>
                        </li>
                        <li>    
                            <a routerLink="music" style="font-size: x-large; text-decoration: none;">Music</a>
                        </li>
                        <li>
                            <a href="art" style="font-size: x-large; text-decoration: none;">Theatre</a>
                        </li>
                        <li>
                            <a href="sports" style="font-size: x-large; text-decoration: none;">Sports</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container"  style="color: white;">
            <div class="sectionSubHeader">
                <h1>SPORTS</h1>
                <p style="font-size: large; padding: 2%;">
                    Welcome to FindMyShow, your ultimate destination for sports enthusiasts! Get ready to cheer, celebrate, 
                    and witness the thrill of live sports events in your area. At FindMyShow, we bring you an unparalleled selection of sports meets, 
                    from heart-pounding matches to exhilarating competitions. Whether you're a die-hard fan of a specific team or sport, 
                    or you're looking for a new sporting adventure, our platform is designed to connect you with the excitement of the game. 
                    Explore a variety of sporting events, from intense matchups to community meets, and immerse yourself in the electric atmosphere of live sports. 
                    FindMyShow is your ticket to the front row, where every cheer, every goal, and every victory becomes a shared celebration. 
                    Join us in embracing the spirit of competition, and let the thrill of sports events unfold right before your eyes!
                </p>
            </div>

            <div class="row" style="display: flex; flex-wrap: wrap; gap: 10%; padding: 2%">
                <div>
                    <div class="caption">
                        <img src="assets/images/sports.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Volleyball</h3>
                            <p>New York City <strong>US</strong></p>
                            <p>Stadium Arena</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-coco-championship-598631.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Boxing</h3>
                            <p>Tokyo <strong>JP</strong></p>
                            <p>Sportsplex Center</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-guduru-ajay-bhargav-863988.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Swimming</h3>
                            <p>London <strong>GB</strong></p>
                            <p>Field House Stadium</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-jean-van-der-meulen-1524620.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Horse Riding</h3>
                            <p>Sydney, <strong>CAU</strong></p>
                            <p>Arena Stadium</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-pixabay-159515.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Rugby</h3>
                            <p>Rio de Janeiro <strong>BR</strong></p>
                            <p>Concert Cathedral</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-nappy-936129.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Basketball</h3>
                            <p>Cairo, <strong>EG</strong></p>
                            <p>Olympic Park</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-sides-imagery-3697601.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Baby Basketball</h3>
                            <p>Paris <strong>FR</strong></p>
                            <p>Athletic Arena</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-pixabay-248547.jpg" alt="sport img " width="250px">
                        <div>
                            <h3>Cycling</h3>
                            <p>Beijing <strong>CN</strong></p>
                            <p>Sports Arena</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="home" class="text-white">Home</a></li>
                            <li><a href="music" class="text-white">Music</a></li>
                            <li><a href="art" class="text-white">Theatre</a></li>
                            <li><a href="sports" class="text-white">Sports</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i> <b>Twitter</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i> <b>Facebook</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram"></i> <b>Instagram</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="assets/js/sports.js"></script>

    </body>
</html>