<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.scss"> -->

    <title>Theater</title>
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <div class="container">
            <a href="index" class="text-white text-decoration-none">
                <h1>FindMyShow</h1>
            </a>
        </div>
    </header>

    <nav class="navbar navbar-default" style="padding: 1px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="padding-left: 50%;list-style: none; display: flex; justify-content: space-around; width: 50%; font-size: x-large;">
                    <li>
                        <a href="index" style="font-size: x-large; text-decoration: none;">Home</a>
                    </li>
                    <li>    
                        <a href="music" style="font-size: x-large; text-decoration: none;">Music</a>
                    </li>
                    <li>
                        <a href="art" style="font-size: x-large; text-decoration: none;">Theatre</a>
                    </li>
                    <li>
                        <a href="sports" style="font-size: x-large; text-decoration: none;">Sports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div  style="color: white;">
        <div class="container">
            <div class="sectionSubHeader">
                <h1>Theater</h1>
                <p style="font-size: large; padding: 2%;">
                    Immerse yourself in the vibrant world of theater as we bring you a curated collection of captivating and enriching shows in your area. 
                    Whether you're a passionate theater enthusiast or someone looking for a delightful evening out, our platform is designed to connect you 
                    with a diverse range of theatrical experiences. Explore the latest plays, musicals, and performances happening in and around your chosen location. 
                    From classic dramas to cutting-edge productions, <b>FindMyShow</b> is your go-to destination for discovering and enjoying the magic of live theater. 
                    Let the stage come alive, and let your theatrical journey begin!
                </p>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap; gap: 10%; padding: 2%">
                <div>
                    <div class="caption">
                        <img src="assets/images/down.jpg" alt="event img"  width="300px">
                        <h3>Shakespeare in the Park: A Midsummer Night's Dream</h3>
                        <p>New York City <strong>US</strong></p>
                        <p>Harmony Hall</p>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-monica-silvestre-713149.jpg" alt="event img" width="300px">
                        <h3>Broadway Spectacular: An Evening of Showstoppers</h3>
                        <p>Tokyo <strong>JP</strong></p>
                        <p>Melody Manor</p>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-pixabay-358010.jpg" alt="event img" width="300px">
                        <h3>Community Playhouse Presents: Our Town</h3>
                        <p>London <strong>GB</strong></p>
                        <p>Symphony Square</p>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-pixabay-33129.jpg" alt="event img" width="300px">
                        <h3>Modern Drama Showcase: New Voices, Bold Stories</h3>
                        <p>Paris, <strong>FR</strong></p>
                        <p>Rhythm Retreat</p>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-robert-stokoe-1035841.jpg" alt="event img" width="300px">
                        <h3>Musical Revue: Broadway's Greatest Hits</h3>
                        <p>Beijing, <strong>CN</strong></p>
                        <p>Jazz Junction</p>
                    </div>
                </div>
                <div>
                    <div class="caption">
                        <img src="assets/images/pexels-ruca-souza-1049746.jpg" alt="event img" width="300px">
                        <h3>Experimental Theatre: Pushing Boundaries, Redefining Art</h3>
                        <p>Moscow, <strong>RU</strong></p>
                        <p>Jazz Junction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><a href="home" class="text-white">Home</a></li>
                        <li><a href="music" class="text-white">Music</a></li>
                        <li><a href="art" class="text-white">Theatre</a></li>
                        <li><a href="sports" class="text-white">Sports</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i> <b>Twitter</b></a></li>
                        <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i> <b>Facebook</b></a></li>
                        <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram"></i> <b>Instagram</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="assets/js/art.js"></script>
</body>
</html>


