<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FindMyShow</title>
        <!-- 21MIC0155 Aarya Ashok K 21MIC0192 Tejasv Goyal 21MIC0153 Shreya Bhatt 21MIC0133 Sane Vinay Kumar Reddy -->        
    </head>
    <body>

        <header class="bg-dark text-white text-center py-3">
            <div class="container">
                <a href="index.html" class="text-white text-decoration-none">
                    <h1>FindMyShow</h1>
                </a>
            </div>
        </header>

        <nav class="navbar navbar-default" style="padding: 1px;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="padding-left: 50%;list-style: none; display: flex; justify-content: space-around; width: 50%; font-size: x-large;">
                        <li>
                            <a href="index.html" style="font-size: x-large; text-decoration: none;">Home</a>
                        </li>
                        <li>    
                            <a href="music" style="font-size: x-large; text-decoration: none;">Music</a>
                        </li>
                        <li>
                            <a href="art" style="font-size: x-large; text-decoration: none;">Theatre</a>
                        </li>
                        <li>
                            <a href="sports" style="font-size: x-large; text-decoration: none;">Sports</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container my-5" style="color: white;">
            <h2>Welcome to FindMyShow, where innovation meets seamless event exploration.</h2>
            <p style="font-size: large;">FindMyShow is a groundbreaking web application revolutionizing event discovery. Tailored for music, theatre, and sports enthusiasts, FindMyShow offers a seamless and user-friendly platform for exploring and purchasing tickets. With its responsive design, cutting-edge technologies like AngularJS and Bootstrap, and striking aesthetics, FindMyShow delivers an immersive experience. Unique features include intuitive navigation, dynamic content loading, and social media connectivity. What distinguishes FindMyShow is its commitment to ongoing enhancements, including user accounts and collaborative event database expansion. FindMyShow invites users to discover extraordinary moments, making every event an opportunity for unforgettable memories.</p>
            <div class="container">
                <!-- Events of today -->
                <div class="events" >
                    <h1>Events of today...</h1>
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 2%; padding-left: 2%;">
                        <div class="thumbnail" style="margin-bottom: 20px;">
                            <div class="imageContainer">
                                <img src="assets/images/pexels-johnmark-smith-301988.jpg" alt="event" width="300px">
                            </div>
                            <div class="caption">
                                <h3>Harmony Fest: A Musical Extravaganza</h3>
                                <p class="desc">New York City, USA (US)</p>
                            </div>
                        </div>
                        <div class="thumbnail" style="margin-bottom: 20px;">
                            <div class="imageContainer">
                                <img src="assets/images/pexels-luis-quintero-2774556.jpg" alt="event" width="300px">
                            </div>
                            <div class="caption">
                                <h3>Jazz Night Under the Stars</h3>
                                <p class="desc">Tokyo, Japan (JP)</p>
                            </div>
                        </div>
                    
                        <div class="thumbnail" style="margin-bottom: 20px;">
                            <div class="imageContainer">
                                <img src="assets/images/pexels-marc-schulte-2952834.jpg" alt="event" width="300px">
                            </div>
                            <div class="caption">
                                <h3>Harmony Fest: A Musical Extravaganza</h3>
                                <p class="desc">New York City, USA (US)</p>
                            </div>
                        </div>
                    
                        <!-- <div class="thumbnail" style="margin-bottom: 20px;">
                            <div class="imageContainer">
                                <img src="assets/images/concert-2527495_1280.jpg" alt="event" width="300px">
                            </div>
                            <div class="caption">
                                <h3>Jazz Night Under the Stars</h3>
                                <p class="desc">Tokyo, Japan (JP)</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                
                <div class="events">
                        <h1>Popular events...</h1>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 2%; padding-left: 2%;">
                            <div class="thumbnail" style="margin-bottom: 20px;">
                                <div class="imageContainer">
                                    <img src="assets/images/pexels-vinícius-caricatte-2231755.jpg" alt="event" width="300px">
                                </div>
                                <div class="caption">
                                    <h3>ERock Concert Extravaganza</h3>
                                    <p class="desc">Beijing, China (CN)</p>
                                </div>
                            </div>
                        
                            <div class="thumbnail" style="margin-bottom: 20px;">
                                <div class="imageContainer">
                                    <img src="assets/images/pexels-wendy-wei-1190297.jpg" alt="event" width="300px">
                                </div>
                                <div class="caption">
                                    <h3>Artisan Craft Fair: Celebrating Creativitye</h3>
                                    <p class="desc">Sydney, Australia (AU)</p>
                                </div>
                            </div>
                        
                            <div class="thumbnail" style="margin-bottom: 20px;">
                                <div class="imageContainer">
                                    <img src="assets/images/pexels-vinícius-caricatte-2231755.jpg" alt="event" width="300px">
                                </div>
                                <div class="caption">
                                    <h3>ERock Concert Extravaganza</h3>
                                    <p class="desc">Beijing, China (CN)</p>
                                </div>
                            </div>
                        
                            <!-- <div class="thumbnail" style="margin-bottom: 20px;">
                                <div class="imageContainer">
                                    <img src="assets/images/pexels-wendy-wei-1190297.jpg" alt="event" width="300px">
                                </div>
                                <div class="caption">
                                    <h3>Artisan Craft Fair: Celebrating Creativitye</h3>
                                    <p class="desc">Sydney, Australia (AU)</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            
        </div>
        <footer class="bg-dark text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="index.html" class="text-white">Home</a></li>
                            <li><a href="music" class="text-white">Music</a></li>
                            <li><a href="art" class="text-white">Theatre</a></li>
                            <li><a href="sports" class="text-white">Sports</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i> <b>Twitter</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i> <b>Facebook</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram"></i> <b>Instagram</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/index.js"></script>
    </body>
</html>
