<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="style.scss"> -->
        <title>Music</title>
    </head>
    <body>
        <header class="bg-dark text-white text-center py-3">
            <div class="container">
                <a href="index" class="text-white text-decoration-none">
                    <h1>FindMyShow</h1>
                </a>
            </div>
        </header>

        <nav class="navbar navbar-default" style="padding: 1px;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="padding-left: 50%;list-style: none; display: flex; justify-content: space-around; width: 50%; font-size: x-large;">
                        <li>
                            <a href="index" style="font-size: x-large; text-decoration: none;">Home</a>
                        </li>
                        <li>    
                            <a href="music" style="font-size: x-large; text-decoration: none;">Music</a>
                        </li>
                        <li>
                            <a href="art" style="font-size: x-large; text-decoration: none;">Theatre</a>
                        </li>
                        <li>
                            <a href="sports" style="font-size: x-large; text-decoration: none;">Sports</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container"  style="color: white;">
            <div class="sectionSubHeader">
                <h1>Music</h1>
                <p style="font-size: large; padding: 2%;">
                    Discover the harmonious blend of melody and spectacle with FindMyShow! Your gateway to the world of musical enchantment awaits as we present a 
                    curated selection of musical shows in your area. Whether you're a devoted fan of Broadway tunes, a lover of classical melodies, or someone in 
                    search of the latest chart-topping performances, FindMyShow is your ultimate guide to a symphony of entertainment. Immerse yourself in the rhythm, 
                    feel the energy, and let the melodies transport you to a world of musical brilliance. From soul-stirring ballads to toe-tapping beats, FindMyShow 
                    invites you to explore and experience the magic of live musicals. Uncover the perfect musical journey tailored just for you, and let the stage light 
                    up with the sounds of your next unforgettable night out!
                </p>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap; gap: 10%; padding: 2%;">
                <div class="caption">
                    <img src="assets/images/music.jpg" alt="event" width="300px">
                    <div>
                        <h3>World Music Festival: Celebrating Cultural Diversity</h3>
                        <p>Delhi <strong>India</strong></p>
                        <p>Jazz Junction</p>
                    </div>
                </div>
                <div class="caption">
                    <div>
                        <img src="assets/images/pexels-marc-schulte-2952834.jpg" alt="event" width="300px">
                        <div>
                            <h3>Rock the Park: Outdoor Concert Series</h3>
                            <p>New York City<strong>US</strong></p>
                            <p>BeatBox Ballroom</p>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <div>
                        <img src="assets/images/pexels-vinícius-caricatte-2231755.jpg" alt="event" width="300px">
                        <div>
                            <h3>Jazz Jam Night: Smooth Sounds and Cool Vibes</h3>
                            <p>Tokyo <strong>JP</strong></p>
                            <p>Acoustic Arena</p>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <div>
                        <img src="assets/images/pexels-pixabay-210922.jpg" alt="event" width="300px">
                        <div>
                            <h3>Classical Concert: Masterpieces of the Ages</h3>
                            <p>London <strong>GB</strong></p>
                            <p>Jazz Junction</p>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <img src="assets/images/pexels-rahul-pandit-3052307.jpg" alt="event" width="300px">
                    <div>
                        <h3>Indie Music Showcase: Discovering New Talent</h3>
                        <p>Berlin <strong>DE</strong></p>
                        <p>Rhythm Retreat</p>
                    </div>
                </div>
                <div class="caption">
                    <div>
                        <img src="assets/images/pexels-wendy-wei-1537637.jpg" alt="event" width="300px">
                        <div>
                            <h3>Acoustic Coffeehouse Sessions: Intimate Performances</h3>
                            <p>Cairo <strong>EG</strong></p>
                            <p>Symphony Square</p>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <div>
                        <img src="assets/images/pexels-wendy-wei-1540338.jpg" alt="event" width="300px">
                        <div>
                            <h3>Reggae Beach Party: Island Rhythms and Good Vibes</h3>
                            <p>Paris <strong>FR</strong></p>
                            <p>Melody Manor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="home" class="text-white">Home</a></li>
                            <li><a href="music" class="text-white">Music</a></li>
                            <li><a href="art" class="text-white">Theatre</a></li>
                            <li><a href="sports" class="text-white">Sports</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i> <b>Twitter</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i> <b>Facebook</b></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram"></i> <b>Instagram</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="assets/js/music.js"></script>
     </body>
</html>